RewriteEngine On
# Redirigir todas las solicitudes al punto de entrada principal (por ejemplo, index.php)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [L]
